<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" itemscope itemtype="http://schema.org/Article">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Gyuri Grell" />
   <meta itemprop="name" content="{{ post.title }}" />
   <meta itemprop="description" content="Quality curated #AndroidDev articles, delivered every week to developers. Subscribe via Google+, Twitter, email or RSS." />
   <link href="http://feeds.feedburner.com/AndroidDevWeekly" rel="alternate" title="#AndroidDev Weekly" type="application/atom+xml" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic">
   <link rel="stylesheet" href="/css/yui-3.3.0-reset-min.css">
   <link rel="stylesheet" href="/css/default.css">
<script type="text/javascript">
window.___gcfg = {lang: 'en'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();</script>
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8956090-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics end -->

</head>
<body>

<div id="page-container">
  <div id="page-header" itemscope itemtype="http://schema.org/WPHeader">
    <a href="http://androiddevweekly.com">#AndroidDev Weekly</a>
  </div>
  
  <div id="main-row">
	  {{ content }}
  </div>
  
  <div id="page-footer">
	<p id="copyright">Portions of design from <a href="http://developer.android.com/design/index.html">Android Design</a> licensed under <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a>.</p>
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">#AndroidDev Weekly</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://gyurigrell.com" property="cc:attributionName" rel="cc:attributionURL">Gyuri Grell</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>
</div>

</body>
</html>