---
layout: default
---

<div id="nav-container" class itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul id="nav">
	<li class="nav-section expanded">
		<div class="nav-section-header">Issues</div>
		<ul>
		{% for post in site.posts %}
			{% if post.title == page.title %}
				<li class="selected">
			{% else %}
				<li class="">
			{% endif %}
			<a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</ul>
</div>
<div id="content">
	<div id="page-title">{{ page.title }} - {{ post.date | date_to_string }}</div>
	<div id="post">
	{{ content }}
	</div>
</div>
